/* body{
	font-family: calibri;
}
.tblLogin {
	border: #95bee6 1px solid;
    background: #f8fafb;
    border-radius: 4px;
    
}
.tableheader { font-size: 24px; }
.tableheader td { padding: 20px; }
.tablerow td { text-align:center; }
.message {
	color: #FF0000;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
.login-input {
	border: #CCC 1px solid;
    padding: 10px 20px;
}
.btnSubmit {
	padding: 10px 20px;
    background: #2c7ac5;
    border: #d1e8ff 1px solid;
    color: #FFF;
}
.btn_edit {
	padding: 5px 10px;
    background: #238ec0;
    border: #1e2429 1px solid;
    color: rgb(75, 120, 179);
} */

